* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 10% auto 0;
}

.header {
    text-align: center;
}

.title {
    letter-spacing: 3px;
    font-size: 35px;
}

hr {
    background-color: #E493B3;
    border: none;
    height: 5px;
    width: 50px;
    margin: 10px auto 25px;
}

.categories {
    display: flex;
    justify-content: center;
}

button {
    background-color: transparent;
    border: solid#E493B3;
    border-radius: 5px;
    color: #E493B3;
    height: 30px;
    margin-left: 10px;
}

button:active {
    background-color: #E493B3;
    color: #fff;
}

.all-btn {
    width: 40px;
}

.breakfast-btn {
   width: 80px;
}

.lunch-btn {
    width: 60px;
}

.dessert-btn {
    width: 70px;
}

