* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 10% auto 0;
}

.header {
    text-align: center;
}

.title {
    letter-spacing: 3px;
    font-size: 35px;
}

hr {
    background-color: #E493B3;
    border: none;
    height: 5px;
    width: 50px;
    margin: 10px auto 25px;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    background-color: transparent;
    border: solid#E493B3;
    border-radius: 5px;
    color: #E493B3;
    height: 30px;
    margin-left: 10px;
}

button:active {
    background-color: #E493B3;
    color: #fff;
}

.all-btn {
    width: 40px;
}

.breakfast-btn {
   width: 80px;
}

.lunch-btn {
    width: 60px;
}

.dessert-btn {
    width: 70px;
}

.menu {
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    gap: 15px;
}

.item-wrapper {
    display: flex;
    columns: 2;
    flex: 1 1 45%;
}

img {
    border: solid 3px #E493B3;
    border-radius: 3px;
    width: 200px;
}

.item-details {
    margin-left: 15px;
}

.item-name-price {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid #7d7d7d73;
    font-size: 13px;
    margin-bottom: 8px;
    padding-bottom: 3px;
}

.name {
    letter-spacing: 2px;
}

.price {
    color: #E493B3;
    font-weight: 600;
    letter-spacing: 2px;
}

.item-description {
    color: #51515196;
}